* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 36px;
}

p {
  line-height: 1.75;
}

li {
  line-height: 1.75;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
