* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
}

html,
body,
div#PhenomicRoot {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
}

#PhenomicRoot > div {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
  color: #102a43;
  line-height: 1.75;
}

h2 {
  margin: 0;
  font-size: 36px;
  color: #102a43;
  line-height: 1.75;
}

h3 {
  margin: 0;
  color: #102a43;
  line-height: 1.75;
}

p {
  line-height: 1.75;
  color: #102a43;
  font-size: 24px;
}

li {
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: #102a43;
}

a:visited {
  color: #38bec9;
}

a:hover {
  color: #38bec9;
}

article p > a {
  text-decoration: underline;
  color: #14919b;
}

article p > a:visited {
  text-decoration: underline;
  color: #14919b;
}

strong {
  color: #14919b;
}

input {
  outline: none;
  border: none;
  appearance: none;
  box-shadow: 0 0 1px 1px #d9e2ec;
  color: #102a43 !important;
}

textarea {
  appearance: none;
  outline: none;
  border: none;
  box-shadow: 0 0 1px 1px #d9e2ec;
  resize: none;
  overflow: auto;
  color: #102a43 !important;
}

input::placeholder,
textarea::placeholder {
  color: #627d98;
}

input,
textarea {
  color: #0a1214;
  caret-color: #94a2bc;
}

.icon.icon-link:before {
  content: "🔗 ";
  padding-right: 2px;
  font-size: 24px;
}

code {
  background-color: #fcefc7;
  padding: 2px;
  border-radius: 3px;
  color: #e668a7;
}

em {
  color: #38bec9;
}
