* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #212121;
}

h2 {
  font-size: 36px;
  color: #212121;
}

p {
  line-height: 1.75;
  color: #616161;
  font-size: 24px;
}

li {
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

a:hover {
  color: #ff5252;
}

strong {
  color: #424242;
}
