/* purgecss start ignore */
@tailwind base;
@tailwind components;
#SideMenu{
    /* transform: translateX(100%); */
    transform: translateX(100%);
    transition: transform .5s;

}
#SideMenu.true{
    transform: translateX(0%);
    transition: transform .5s

}
body{
    overflow-x: hidden;
}
/* purgecss end ignore */
@tailwind utilities;
