/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
#SideMenu {
  /* transform: translateX(100%); */
  transform: translateX(100%);
  transition: transform 0.5s;
}
#SideMenu.true {
  transform: translateX(0%);
  transition: transform 0.5s;
}
body {
  overflow-x: hidden;
}
