:root {
  --nit-black: #111111;
  --nit-grey: #717171;
  --nit-light-grey: #c2c2c2;
  --nit-white: #ffffff;
  --nit-dark: #8f6233;
  --nit-primary: #c69662;
  --nit-light: #e1c8ad;
  --nit-earth: #41e783;
  --nit-water: #2986ff;
}

@tailwind base;

@font-face {
  font-family: Inter;
  font-weight: 100;
  src: url(/fonts/inter/Inter-Thin.ttf) format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 200;
  src: url(/fonts/inter/Inter-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url(/fonts/inter/Inter-Light.ttf) format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url(/fonts/inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url(/fonts/inter/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url(/fonts/inter/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(/fonts/inter/Inter-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url(/fonts/inter/Inter-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  src: url(/fonts/inter/Inter-Black.ttf) format("truetype");
}

html {
  color: var(--nit-black);
}

@tailwind components;
@tailwind utilities;

#SideMenu {
  /* transform: translateX(100%); */
  transform: translateX(100%);
  transition: transform 0.5s;
}

#SideMenu.true {
  transform: translateX(0%);
  transition: transform 0.5s;
}

body {
  overflow-x: hidden;
}

.typed {
  font-size: 32px;
}

@media only screen and (min-width: 786px) {
  .typed {
    font-size: 78px;
  }
}

.typed-cursor {
  font-size: 32px;
  color: var(--nit-primary);
}

@media only screen and (min-width: 786px) {
  .typed-cursor {
    font-size: 96px;
    color: var(--nit-primary);
  }
}

.icons {
  font-size: 98px;
}

@media only screen and (min-width: 786px) {
  .icons {
    font-size: 132px;
  }
}

.logo-index {
  height: 120px;
}

@media only screen and (min-width: 786px) {
  .logo-index {
    height: 260px;
  }
}

.image-index {
  width: 100%;
}

@media only screen and (min-width: 786px) {
  .image-index {
    width: 408px;
  }
}

@media only screen and (max-width: 786px) {
  div > a.ml-none {
    margin-left: 0px;
  }
}

.stroke-white {
  stroke: var(--nit-white);
}
